<section class="developers">
	<div class="developers__filters">
		<input
			id="developers-search"
			pInputText
			type="text"
			placeholder="Назва, місто або країна"
			class="developers__search"
			[ngModel]="searchTerm()"
			(ngModelChange)="searchTerm.set($event)"
		/>
	</div>

	<div class="developers__results">
		<div class="developers__grid">
			@for (item of results(); track item._id) {
			<div class="developers__row" (click)="view(item)">
				<app-developer-short [entity]="item" />
			</div>
			} @empty {
			<p class="developers__empty">За заданим запитом забудовників не знайдено.</p>
			}
		</div>
	</div>
</section>
