<article class="card">
	<h2 class="card__title">{{ entity.title }}</h2>

	<div class="card__meta">
		<span class="card__badge">{{ entity.listingType }}</span>
		<span class="card__badge">{{ entity.status }}</span>
		@if (entity.sourceVerified) {
			<span class="card__badge">verified</span>
		}
	</div>

	@if (entity.photos.length) {
		<div class="card__photos">
			@for (photo of entity.photos; track photo) {
				<img class="card__photo" [src]="photo" alt="" />
			}
		</div>
	}

	<p>{{ entity.description }}</p>

		<div class="card__row"><dt>Price</dt><dd>{{ entity.price }} {{ entity.currency }}</dd></div>
		<div class="card__row"><dt>Location</dt><dd>{{ entity.publicLocation }}</dd></div>
		<div class="card__row"><dt>Available from</dt><dd>{{ entity.availableFrom }}</dd></div>
		<div class="card__row"><dt>Owner</dt><dd>{{ entity.owner.role }}: {{ entity.owner.userId }}</dd></div>
		<div class="card__row"><dt>Published</dt><dd>{{ entity.publicationDate }}</dd></div>
		@if (entity.rentalPeriod) {
			<div class="card__row"><dt>Rental period</dt><dd>{{ entity.rentalPeriod }}</dd></div>
		}
		@if (entity.availableTo) {
			<div class="card__row"><dt>Available to</dt><dd>{{ entity.availableTo }}</dd></div>
		}
		@if (entity.expirationDate) {
			<div class="card__row"><dt>Expires</dt><dd>{{ entity.expirationDate }}</dd></div>
		}

	@if (entity.contactOptions.length) {
		<div class="card__meta">
			@for (opt of entity.contactOptions; track opt) {
				<span class="card__badge">{{ opt }}</span>
			}
		</div>
	}
</article>
